html {
	height: 100%;
}
.toc{
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
	align-content: flex-start;
	float: left;
	margin: 1em 1em 1em 1em;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	color: #1184CE;
  }

.body__divider{
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
	align-content: flex-start;
	margin: 2em 3em 2em;
	padding-left: 4em;

}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #313131;
}

body {
	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

main {
	padding: 1rem;
}

footer {
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 1rem;
	border-top: 2px solid #2081c5;
	background-color: #2081c5
}


.navbar-area {
	margin: 0;
	padding: 0;
	color: #ddd;
}

.navbar-light {
	background-color: #636466 !important;
	border-color: #636466 !important;
}

.navbar-light a {
	color: #ddd !important;
}

.navbar-light .btn-outline-secondary {
	color: #ddd !important;
	border-color: #ddd !important;
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.75rem 1rem;
}

.navbar > .container,
.navbar > .container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.float-right {
	float: right !important;
}